name: Project Planning Crew

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Poetry
        uses: snok/install-poetry@v1
        with:
          virtualenvs-create: true
          virtualenvs-in-project: true
      - name: Set up Python 3.9
        uses: actions/setup-python@v5
        with:
          python-version: "3.9"
          cache: 'poetry'
      - name: Set dummy OPENAI_API_KEY
        run: echo "OPENAI_API_KEY=dummy" >> $GITHUB_ENV
      - name: Install dependencies
        run: poetry install --no-interaction --no-root
        working-directory: project_planning_crew
      - name: Lint and format Python code with ruff
        run: |
          pipx install ruff
          ruff check --format=github --target-version=py39
          ruff format --diff --target-version=py39
        continue-on-error: true
        working-directory: project_planning_crew
      - name: Test with pytest
        run: poetry run pytest
        working-directory: project_planning_crew
